<!--  -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

    <main>
      <div class="container-fluid h-100">
        <div
          class="row bg-dark align-items-center justify-content-center h-100"
        >
          <div class="col bg-light" id="calculadora">
            <div class="row">
              <!-------------- PANTALLA ------------------------>
              <div class="col-12 text-end" id="pantalla">
                <input type="text" class="bg-light fs-1"  value="{{operacion}}" id="operacion">
                <!--<p class="fs-1 m-0" id="operacion">{{operacion}}</p> -->
                <p class="fs-2" id="resultado">{{resultado}}</p>
              </div>

              <!-------------- NUMEROS ----------------------->
              <div class="col-9 p-0" role="group" id="numeros">
                <div class="row h-100 gx-0">
                  <div class="col-4" *ngFor="let boton of botones">
                    <button type="button" class="btn btn-primary" value="{{boton}} " (click)="anadir($event)">{{boton}}</button>
                  </div>
                </div>
              </div>

              <!--------------- OPERADORES ------------------------->
              <div class="col-3 p-0" id="operadores">
                <div class="row h-100 gx-0">
                  <div class="col-12" *ngFor="let operador of operadores">
                    <button type="button" class="btn btn-primary" value="{{operador}}" (click)="anadir($event)">{{operador}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

